<% layout('../layout') -%>

<h1>ALL YOUR ALBUMS BRO</h1>

<ul>
    <% for(i in albums) {%>
        <li style="padding-bottom: 50px">
            <div>
                <img src="<%= albums[i]['album_cover'] %>" width="175"><br />
                <em><%= albums[i]['title'] %></em> by <%= albums[i]['artist'] %><br />
              <a href="/album/show/<%= albums[i]['id'] %>">Learn more about <%= albums[i]['title'] %> bro</a>
            </div>
        </li>
    <% } %>
</ul>
